<h3 class="text-lg font-semibold mt-10">Agregar un nuevo producto</h3>
<form method="POST" action="{% url 'add_product_to_quote' cotizaciones.id %}" class="mb-4">
    {% csrf_token %}
    <div class="space-y-2">
        <label for="producto" class="block">Selecciona un producto:</label>
        <select name="producto" id="producto" class="border p-2 rounded w-full">
            {% for producto in products %}
                <option value="{{ producto.id }}">{{ producto.nombre }} - ${{ producto.precio_general }} / ${{ producto.precio_distribuidor }}</option>
            {% endfor %}
        </select>
        <label for="cantidad" class="block">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required class="border p-2 rounded w-full">
        <label for="usar_precio_distribuidor" class="inline-flex items-center">
            <input type="checkbox" name="usar_precio_distribuidor" id="usar_precio_distribuidor" class="mr-2">
            Usar precio de distribuidor
        </label>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Agregar</button>
    </div>
</form>