<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Detalles de la Cotización</title>
</head>
<body class="bg-gray-100 p-8">
    {% include 'nav_bar.html' %}
    {% if request.user.is_authenticated %}
        {% include 'quotes/quote_details.html' %}
        {% include 'quotes/add_product_form.html' %}
        {% include 'quotes/products_table.html' %}
        {% include 'quotes/custom_product_form.html' %}
        {% include 'quotes/custom_products_table.html' %}
    {% endif %}

    <script>
        document.getElementById("btnAgregarProducto").addEventListener("click", function () {
            document.getElementById("formularioProductoPersonalizado").classList.toggle("hidden");
        });
    </script>
</body>
</html>