<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Detalles de la Cotización</title>
</head>
<body class="bg-gray-100 p-8">
{% include 'nav_bar.html' %}
{% if request.user.is_authenticated %}
<div class="bg-white p-6 rounded-lg shadow-md mt-20">
    <h1 class="text-xl font-bold mb-4">Detalles de la cotización: {{ cotizaciones.id }} - Status: {{ cotizaciones.status }}</h1>
    <!-- Modificar la tabla para incluir servicio de envío y costo de envío -->
    <table class="w-full border-collapse border border-gray-300">
        <thead>
        <tr class="bg-gray-200">
            <th class="border px-4 py-2">ID</th>
            <th class="border px-4 py-2">Fecha</th>
            <th class="border px-4 py-2">Fecha límite</th>
            <th class="border px-4 py-2">Total</th>
            <th class="border px-4 py-2">Anticipo</th>
            <th class="border px-4 py-2">Metodo de Pago</th>
            <th class="border px-4 py-2">Servicio de Envío</th>
            <th class="border px-4 py-2">Costo de Envío</th>
            <th class="border px-4 py-2">I.V.A.</th>
            <th class="border px-4 py-2">Total con IVA</th>
            <th class="border px-4 py-2">Restante</th>
            <th class="border px-4 py-2"></th>
            <th class="border px-4 py-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td class="border px-4 py-2">{{ cotizaciones.id }}</td>
            <td class="border px-4 py-2">{{ cotizaciones.fecha }}</td>
            <td class="border px-4 py-2">{{ cotizaciones.fecha_propuesta }}</td>
            <td class="border px-4 py-2">${{ cotizaciones.total }}</td>
            <td class="border px-4 py-2">${{ cotizaciones.anticipo }}</td>
            <td class="border px-4 py-2">{{ cotizaciones.metodo_pago }}</td>
            <td class="border px-4 py-2">{{ cotizaciones.servicio_envio }}</td>
            <td class="border px-4 py-2">${{ cotizaciones.costo_envio }}</td>
            <td class="border px-4 py-2">${{ cotizaciones.iva }}</td>
            <td class="border px-4 py-2">${{ cotizaciones.total_Civa }}</td>
            <td class="border px-4 py-2">${{ cotizaciones.restante }}</td>
            <td><a href="{% url 'update_quote' cotizaciones.id %}" class="text-blue-500">Editar</a></td>
            <td><a href="{% url 'delete_quote' cotizaciones.id %}" class="text-red-500">Eliminar</a></td>
        </tr>
        </tbody>
    </table>

    <hr class="my-4">

    <!-- Mostrar el total con IVA actualizado -->
    <p class="text-lg font-semibold">Total con IVA: <span id="total_con_iva">${{ cotizaciones.total_Civa }}</span></p>

<!-- Agregar producto a la cotización -->
<h3 class="text-lg font-semibold">Agregar un nuevo producto</h3>
<form method="POST" action="{% url 'add_product_to_quote' cotizaciones.id %}" class="mb-4">
    {% csrf_token %}
    <div class="space-y-2">
        <label for="producto" class="block">Selecciona un producto:</label>
        <select name="producto" id="producto" class="border p-2 rounded w-full">
            {% for producto in products %}
                <option value="{{ producto.id }}">{{ producto.nombre }} - ${{ producto.precio_general }} / ${{ producto.precio_distribuidor }}</option>
            {% endfor %}
        </select>
        <label for="cantidad" class="block">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required class="border p-2 rounded w-full">
        <label for="usar_precio_distribuidor" class="inline-flex items-center">
            <input type="checkbox" name="usar_precio_distribuidor" id="usar_precio_distribuidor" class="mr-2">
            Usar precio de distribuidor
        </label>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Agregar</button>
    </div>
</form>

<hr class="my-4">
    <h2 class="text-lg font-semibold text-gray-900 mb-4">Tabla de Productos</h2>

    <table id="tabla-productos" class="w-full border-collapse border border-gray-300">
    <thead>
        <tr class="bg-gray-200">
            <th class="border px-4 py-2">Cotización</th>
            <th class="border px-4 py-2">Producto</th>
            <th class="border px-4 py-2">Precio usado</th>
            <th class="border px-4 py-2">Precio histórico</th>
            <th class="border px-4 py-2">Cantidad</th>
            <th class="border px-4 py-2">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for cotizacionPro in cotProduct %}
        <tr>
            <td class="border px-4 py-2">{{ cotizacionPro.cotizacion_id }}</td>
            <td class="border px-4 py-2">{{ cotizacionPro.product_id.nombre }}</td>
            <td class="border px-4 py-2">
                {% if cotizacionPro.usar_precio_distribuidor %}
                    ${{ cotizacionPro.product_id.precio_distribuidor }} (Distribuidor)
                {% else %}
                    ${{ cotizacionPro.product_id.precio_general }} (General)
                {% endif %}
            </td>
            <td class="border px-4 py-2">${{ cotizacionPro.phistorico }}</td>
            <td class="border px-4 py-2">{{ cotizacionPro.cantidad }}</td>
            <td class="border px-4 py-2">${{ cotizacionPro.subtotal }}</td>
            <td class="border px-4 py-2"><a href="{% url 'delete_product_from_quote' cotizacionPro.id %}" class="bg-red-500 text-white px-2 py-1 rounded">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <hr class="my-4">

    <!-- Agregar Producto personalizado -->
    <button id="btnAgregarProducto" class="bg-blue-500 text-white px-4 py-2 rounded">Agregar Producto Personalizado
    </button>

    <div id="formularioProductoPersonalizado" class="hidden max-w-2xl mx-auto p-6 bg-white shadow-md rounded-lg mt-4">
        <form method="POST" action="{% url 'add_custom_product_to_quote' cotizaciones.id %}" class="space-y-4">
            {% csrf_token %}
            <input type="hidden" name="quote_id" value="{{ cotizaciones.id }}">

            <label class="block text-gray-700 font-medium">Nombre</label>
            <input type="text" name="nombre" required class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Cantidad</label>
            <input type="number" name="cantidad" min="1" value="0" class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Largo</label>
            <input type="number" step="any" name="largo" value="0" class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Ancho</label>
            <input type="number" step="any" name="ancho" value="0" class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Alto</label>
            <input type="number" step="any" name="alto" value="0" class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Volumen por Pieza</label>
            <input type="number" step="any" name="volumen" value="0"
                   class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Precio Unitario</label>
            <input type="number" step="any" name="precio_general" value="0" required
                   class="w-full p-2 border border-gray-300 rounded-lg">

            <label class="block text-gray-700 font-medium">Volumen Total</label>
            <input type="number" step="any" name="volumen_total" value="0" required
                   class="w-full p-2 border border-gray-300 rounded-lg">

            <button type="submit"
                    class="w-full bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 transition">Guardar
            </button>
        </form>
    </div>

    <h2 class="text-lg font-semibold text-gray-900 mb-4">Tabla de Productos Personalizados</h2>
    <table class="w-full border-collapse border border-gray-300">
        <thead>
        <tr class="bg-gray-200">
            <th class="border px-4 py-2">Producto</th>
            <th class="border px-4 py-2">Cantidad</th>
            <th class="border px-4 py-2">Largo</th>
            <th class="border px-4 py-2">Ancho</th>
            <th class="border px-4 py-2">Alto</th>
            <th class="border px-4 py-2">Volumen Pza</th>
            <th class="border px-4 py-2">Precio Unitario</th>
            <th class="border px-4 py-2">Volumen Total</th>
            <th class="border px-4 py-2">Subtotal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for cotizacionPro in productOtro %}
            {% if cotizacionPro.product_id.otro %}
                <tr>
                    <td class="border px-4 py-2">{{ cotizacionPro.product_id.nombre }}</td>
                    <td class="border px-4 py-2">{{ cotizacionPro.cantidad }}</td>
                    <td class="border px-4 py-2">{{ cotizacionPro.product_id.largo }}</td>
                    <td class="border px-4 py-2">{{ cotizacionPro.product_id.ancho }}</td>
                    <td class="border px-4 py-2">{{ cotizacionPro.product_id.alto }}</td>
                    <td class="border px-4 py-2">{{ cotizacionPro.product_id.volumen }}</td>
                    <td class="border px-4 py-2">${{ cotizacionPro.product_id.precio_general }}</td>
                    <td class="border px-4 py-2">{{ cotizacionPro.product_id.volumen_total }}</td>
                    <td class="border px-4 py-2">${{ cotizacionPro.subtotal }}</td>
                    <td class="border px-4 py-2">
                        <a href="{% url 'delete_product_from_quote' cotizacionPro.id %}"
                           class="bg-red-500 text-white px-2 py-1 rounded">Eliminar</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>



{% endif %}

<script>
    document.getElementById("btnAgregarProducto").addEventListener("click", function () {
        document.getElementById("formularioProductoPersonalizado").classList.toggle("hidden");
    });
</script>
</body>
</html>