{% include 'nav_bar.html' %}
<form method="POST" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
    {% csrf_token %}

    <label for="id" class="block text-sm font-medium text-gray-700">ID de Cotización:</label>
    <input type="text" name="id" id="id" value="{{ quote.id }}" required
           class="w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-300">

    <label for="fecha" class="block mt-4 text-sm font-medium text-gray-700">Fecha:</label>
    <input type="text" name="fecha" id="fecha" required readonly
           class="w-full p-2 border border-gray-300 bg-gray-100 rounded-md">

    <label for="fecha_propuesta" class="block mt-4 text-sm font-medium text-gray-700">Fecha Propuesta:</label>
    <input type="text" name="fecha_propuesta" id="fecha_propuesta" required readonly
           class="w-full p-2 border border-gray-300 bg-gray-100 rounded-md">

    <label for="total" class="block mt-4 text-sm font-medium text-gray-700">Total:</label>
    <input type="number" step="0.01" name="total" id="total" value="0" required
           class="w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-300">

    <label for="status" class="block mt-4 text-sm font-medium text-gray-700">Status:</label>
    <input type="text" name="status" id="status" value="pendiente" required readonly
           class="w-full p-2 border border-gray-300 bg-gray-100 rounded-md">

    <button type="submit" class="mt-6 w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Agregar</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function formatDate(date) {
            const options = {weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'};
            return date.toLocaleDateString('es-ES', options);
        }

        let today = new Date();
        let futureDate = new Date();
        futureDate.setDate(today.getDate() + 7);

        document.getElementById("fecha").value = formatDate(today);
        document.getElementById("fecha_propuesta").value = formatDate(futureDate);
    });
</script>