<div id="Mensajes" class="bg-white p-6 rounded-lg shadow-md w-full max-w-7xl mx-auto">
    <h1 class="text-xl font-bold text-gray-800 mb-4 text-center">Mensajes de Clientes</h1>

    <div id="mensaje-container" class="w-full space-y-4">
        {% for mensaje in mensajes %}
            <div class="mensaje-slide w-full bg-gray-100 p-6 rounded-lg shadow-md mx-auto">
                <div class="flex flex-col items-center justify-center text-center w-full">
                    <h4 class="text-lg font-semibold text-gray-800">{{ mensaje.nombre }}</h4>
                    <p class="text-gray-600 mt-2 max-h-48 overflow-y-auto w-full text-justify">{{ mensaje.mensaje }}</p>

                    <div class="flex space-x-4 mt-6">
                        <!-- Botón de WhatsApp -->
                        <a href="https://wa.me/+52{{ mensaje.telefono }}" target="_blank"
                           class="bg-green-500 text-white p-3 rounded-full hover:bg-green-600 transition flex items-center justify-center w-12 h-12">
                            <i class="fab fa-whatsapp text-xl"></i>
                        </a>
                        <!-- Botón de Teléfono -->
                        <a href="tel:{{ mensaje.telefono }}"
                           class="bg-blue-500 text-white p-3 rounded-full hover:bg-blue-600 transition flex items-center justify-center w-12 h-12">
                            <i class="fas fa-phone text-xl"></i>
                        </a>
                        <!-- Botón de Eliminar -->
                        <form action="{% url 'delete_message' mensaje.cliente_id %}" method="POST"
                              onsubmit="return confirm('¿Estás seguro de que quieres eliminar este mensaje?');">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white p-3 rounded-full hover:bg-red-600 transition flex items-center justify-center w-12 h-12">
                                <i class="fas fa-trash text-xl"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="mensaje-slide w-full text-gray-500 text-center">
                No hay mensajes disponibles.
            </div>
        {% endfor %}
    </div>
</div>
